*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    width: 100%;
    background-color: #1F1D2C;
}

header{
   position: relative;
   margin: 0 10px 0px 10px;
   overflow: hidden;
   z-index: 20;
}

/*background gray square*/

.first-square{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -50;
    background-size: 100%;
}

.second-square{
    display: none;
}


/*nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5 rem 1.5rem;
    height: 60px;
    font-size: 18px;
    z-index: 50;
}

.home{
    color: #F1A600;
}

ul>a{
    text-decoration: none;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    display:none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1rem;
}


input#menu-hamburguesa:checked ~ ul{
    display: flex;
    background-color: #1F1D2C;
    z-index: 70;
    max-height: 100%;
}


/*textos header*/

header>h1{
    display: inline-block;
    font-size: 50px;
    margin: 1rem .5rem;
    position: absolute;
    top: 50px
}

.texto-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem 0 1rem .5rem;
    width: 70vw;
    position: absolute;
    top: 150px;
    font-size: 18px;
    
}


/*redes y foto*/

.img-header{
    display: inline-block;
    height: 300px;
}

.redes{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: .2rem 1rem;
    top: 280px;
    max-width: 300px;
}

.logo-redes{
    width: 100%;
    max-width: 100px;
    margin: 5px;
}

.social-media{
    width: 100%;
    margin: 0;
 }

.foto-perfil{
    display: flex;
    position: absolute;
    right: 0;
    top: 115px;
    width: 40%;
    min-width: 230px;
    max-width: 500px;
    z-index: -40;
    
}


/*Acerca de mi*/

.acerca-de-mi{
    position: relative;
    flex-direction: row;
    text-align: center;
    background-image: url(../imagenes/Rectangle\ 33.svg);
    background-size: cover;
    padding: 1rem;
    width: 100%;
    z-index: 20;
}

h2{
    font-size: 30px;
}

.texto-about{
    font-size: 16px;
    margin: 5px 0px 15px 0;
}

.logo-academlo{
    width: 30%;
    max-width: 150px;
}

.academlo{
    font-weight:bold;
}


/*Experiencia*/

.experiencia{
   margin: 10px 10px 0 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center; 
    text-align: center;
    column-gap: 15px;
}

.item1{
    grid-row: 1;
    grid-column: 1/5;
    text-align: center;
    padding: 10px;
}

.item2{
    grid-row:2;
    grid-column:1;
    padding: 10px;
    text-align: center;
    align-self: center;
}

.item3{
    grid-row:3;
    grid-column:1;
    padding: 10px;
    text-align: center;
    align-self: center;
}

.item4{
    grid-row:4;
    grid-column:1;
    padding: 10px;
    text-align: center;
    align-self: center;
}


.item5{
    grid-row:2;
    grid-column:2;
    padding: 10px;
    text-align: center;
    align-self: center;
}

.item6{
    grid-row:3;
    grid-column:2;
    padding: 10px;
    text-align: center;
    align-self: center;
}


.item7{
    grid-row:4;
    grid-column:2;
    padding: 10px;
    text-align: center;
    align-self: center;
}

.item8{
    grid-row: 2/5;
    grid-column: 4;
    padding: 10px;
    height: 100vh;
    text-align: center;
    align-self: center;
}

h3{
    font-size: 18px;
}

.item9, .item10, .item11{
    text-align: center;
    align-self: center;
}


/*Habilidades*/

.seccion-habilidades{
    margin: 50px 10px 0 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center; 
    text-align: center;
}

.item12{
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    padding: 10px;
}

.item13{
    grid-row:2;
    grid-column:1;
    padding:  20px;
    text-align: center;
    align-self: center;
    color: #F1A600;
    font-size: 30px;
    background-image: url(../imagenes/Rectangle\ 34.svg);
    background-repeat: repeat;
}

.item14{
    grid-row:3;
    grid-column:1;
    text-align: center;
    padding:  20px;
    align-self: center;
    color: #F1A600;
    font-size: 30px;
    background-image: url(../imagenes/Rectangle\ 34.svg);
    background-repeat: repeat;
}

.item15{
    grid-row:4;
    grid-column:1;
    text-align: center;
    padding:  20px;
    align-self: center;
    color: #F1A600;
    font-size: 30px;
    background-image: url(../imagenes/Rectangle\ 34.svg);
    background-repeat: repeat;
}

.item16{
    grid-row:5;
    grid-column:1;
    text-align: center;
    padding:  20px;
    align-self: center;
    color: #F1A600;
    font-size: 30px;
    background-image: url(../imagenes/Rectangle\ 34.svg);
    background-repeat: repeat;
}

.item17{
    grid-row:6;
    grid-column:1;
    text-align: center;
    padding:  20px;
    align-self: center;
    color: #F1A600;
    font-size: 30px;
    background-image: url(../imagenes/Rectangle\ 34.svg);
    background-repeat: repeat;
}

.item18{
    grid-row:2;
    grid-column:2;
    align-self: center;
}

.item19{
    grid-row:3;
    grid-column:2;
    text-align: center;
    align-self: center;
}

.item20{
    grid-row:4;
    grid-column:2;
    text-align: center;
    align-self: center;
}

.item21{
    grid-row:5;
    grid-column:2;
    text-align: center;
    align-self: center;
}

.item22{
    grid-row:6;
    grid-column:2;
    text-align: center;
    align-self: center;
}

/*Portafolio*/

.portafolio{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    width: 100%;
}

.h2-portafolio{
    margin-bottom: 10px;
}

.item23, .item25{
    align-self: flex-start;
    width: 70%;
    padding: 25px;
    position: relative;
}

.item24{
    align-self: end;
    width: 70%;
    padding: 25px;
    position: relative;
}

.image-port{
    width: 70%;
}

.yellow-square{
    background-color: #F1A600;
    width: 50vw;
    height: 30vw;
    z-index: -20;
    position: absolute;
    left: 15%;
    top: 2%;
}

.gray-square{
    background-color: #242635;
    width: 50vw;
    height: 30vw;
    z-index: -20;
    position: absolute;
    left: 15%;
    top: 2%;
}


/*Contacto*/

.seccion-contacto{
    background-image: url(../imagenes/Rectangle\ 33-1.svg);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.contacto{
    display: flex;
    flex-direction: row;
    margin: 0 2px 30px 2px;
    position: relative;
}

.h2-contacto{
    margin: 40px;
}

.item26{
    align-self: flex-start;
    height: 60vw;
    max-height: 200px;
    width: 50%;
    margin: 10px;
    text-decoration: none;
}

.item27{
    align-self: flex-end;
    height: 60vw;
    max-height: 200px;
    width: 50%;
    margin: 10px;
    text-decoration: none;
}

.img-contacto{
    width: 90%;
    max-width: 120px;
}

.texto-contacto{
    font-size: 10px;
}




/*Media queries*/

@media screen and (max-width:311px){
    .experiencia{
        column-gap: 2px;
    }
}

@media screen and (min-width:380px){
    .texto-contacto{
        font-size: 15px;
    }
}

@media screen and (min-width:450px){
    .logo-redes{
        width: 50px;
    }
}

@media screen and (min-width:580px) {
    .first-square{
        display: none;
    }

    .second-square{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -50;
    }
}



@media screen and (min-width: 709px){
    .img-header{
    min-height: calc( 80vh - 60px );
    }

    .foto-perfil{
        top: 90px;
    }

    .texto-about{
        padding: 10px 8rem 20px 8rem;
        font-size: 25px;
    }

    
}


@media screen and (min-width:800px){    
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }

    header{
        margin: 0 20px 0px 30px;
     }

    header>h1{
        font-size: 80px;
    }
    
    .texto-header{
        font-size: 30px;
    }
    
    .redes{
        top: 350px;
    }

    .logo-redes{
        width: 70px;
        margin: 10px;
    }

    .experiencia{
        font-size: 30px;
        column-gap: 30px;
    }

    h3{
        font-size: 35px;
    }

    .titulo-seccion{
        font-size: 50px;
    }

    .academlo{
        font-size: 20px;
    }

    .seccion-habilidades{
        font-size: 30px;
    }

    .item13, .item14, .item15, .item16, .item17{
        font-size: 45px;
    }

    .texto-contacto{
        font-size: 20px;
    }
}

@media screen and (min-width:950px){
    .img-header{
        min-height: calc( 90vh - 60px );
    }
}

